/*----------------------------------------------------------------*\
	BUTTONS
\*----------------------------------------------------------------*/
button,
.button {
	display: inline-block;
	padding: var(--Small) var(--Large);
	margin: 0;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	cursor: pointer;
	color: var(--White);
	background-color: var(--Orange);
	border-radius: 40px;
	border: none;
	transition: all 0.35s linear;

	&:hover,
	&:focus {
		background-color: var(--OrangeDark);
	}

	&.is-green {
		color: var(--Black);
		border: 2px solid var(--Green);
		background: transparent;

		&:hover,
		&:focus {
			color: var(--GreenDark);
			background: transparent;
			border-color: var(--GreenDark);
		}

	}
}