/*-----------------------------------*\
	FONT FAMILIES
\*-----------------------------------*/
/* 
	https://css-tricks.com/font-display-masses/
	TLDR: font-display: swap;
	https://css-tricks.com/snippets/css/using-font-face/
	TLDR: use woff and woff2 formats only
*/

@font-face {
	font-style: normal;
	font-weight: 400;
	font-family: 'Source Sans Pro';

	src: url('../fonts/SourceSansPro-Regular.woff2') format('woff2'),
		url('../fonts/SourceSansPro-Regular.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-style: normal;
	font-weight: 600;
	font-family: 'Source Sans Pro';

	src: url('../fonts/SourceSansPro-SemiBold.woff2') format('woff2'),
		url('../fonts/SourceSansPro-SemiBold.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-style: normal;
	font-weight: 700;
	font-family: 'Source Sans Pro';

	src: url('../fonts/SourceSansPro-Bold.woff2') format('woff2'),
		url('../fonts/SourceSansPro-Bold.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-style: normal;
	font-weight: 400;
	font-family: 'Red Hat Display';

	src: url('../fonts/RedHatDisplay-Regular.woff2') format('woff2'),
		url('../fonts/RedHatDisplay-Regular.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-style: normal;
	font-weight: 500;
	font-family: 'Red Hat Display';

	src: url('../fonts/RedHatDisplay-Medium.woff2') format('woff2'),
		url('../fonts/RedHatDisplay-Medium.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-style: normal;
	font-weight: 800;
	font-family: 'Red Hat Display';

	src: url('../fonts/RedHatDisplay-Black.woff2') format('woff2'),
		url('../fonts/RedHatDisplay-Black.woff') format('woff');
	font-display: swap;
}

/*-----------------------------------*\
	HEADER
\*-----------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1.618em;
	margin-bottom: .75em;
	font-family: 'Red Hat Display';
	font-weight: 800;
	color: var(--Black);

	& span {
		color: var(--Orange);
	}
}

h1 {
	font-size: 52px;

	@media(--phone) {
		font-size: 60px
	}
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}


/*-----------------------------------*\
	HORIZONTAL RULE
\*-----------------------------------*/
hr {
	height: 2px;
	background: var(--GreyDark);
	border: 0;
	margin: var(--xLarge) 0;
}

/*-----------------------------------*\
	TABLE
\*-----------------------------------*/
table {
	margin: var(--Large) auto;
}

/*-----------------------------------*\
	QUOTE
\*-----------------------------------*/
blockquote {
	margin: 2em auto;
	width: 90%;
	max-width: 800px;
	border-left: 2px solid var(--GreyDark);
	padding: var(--Medium);
	color: var(--GreyDark);
	font-size: 1.25em;

	& h2,
	& h3,
	& h4,
	& h5,
	& p {
		color: inherit;
		font-size: inherit;
	}
}

blockquote>*:first-child {
	margin-top: 0;
}

blockquote>*:last-child {
	margin-bottom: 0;
}

/*-----------------------------------*\
	WP ALIGNMENT
\*-----------------------------------*/
.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.aligncenter {
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

img.alignright {
	display: block;
	float: right;
}

img.alignleft {
	display: block;
	float: left;
}

img.aligncenter {
	display: block;
	margin: 1em auto;
}