/*-----------------------------------*\
	POST FOOTER
\*-----------------------------------*/
footer.post-footer {

	& .copyright {
		display: flex;
		align-items: center;
		justify-content: center;

		& p {
			font-size: .75em;

			& a {
				color: var(--Blue);
			}
		}
	}
}