/*-----------------------------------*\
	POST HEADER
\*-----------------------------------*/
header.post-head {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	position: relative;
	padding-top: 48px;

	&>div {
		z-index: 2;
	}

	& h1 {
		margin: 0;
		line-height: 1;

		& span {
			display: block;
			font-size: 24px;
			font-weight: 500;
			margin-bottom: var(--Small);
		}
	}

	&::after {
		content: '';
		background-image: url('../images/box-pattern.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		top: 0;
		left: 0;
		right: 0;
		position: absolute;
		width: 100%;
		height: 80vh;
	}

	&::before {
		content: '';
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%);
		top: 0;
		left: 0;
		right: 0;
		position: absolute;
		width: 100%;
		height: 80vh;
		z-index: 2;
	}
}