/*-----------------------------------*\
	CARDS
\*-----------------------------------*/
section.card-grid {
	& .card {
		position: relative;
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		justify-content: flex-start;
		padding: var(--Medium);
		border: 1px solid var(--Grey);
		width: 100%;

		&>* {
			flex: 0 0 auto;
		}

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		& h2 {
			margin-bottom: 0;
		}

		& p {
			flex: 1 1 auto;
		}

		& a.button {
			margin: 0;
		}
	}

	&.top-cards .card {
		& figure {
			position: relative;
			top: -1rem;
			left: -1rem;
			width: calc(100% + 2rem);
			min-height: 200px;
			margin: 0;

			& img {
				display: block;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}

		& h2 {
			margin-top: 0;
		}
	}

	&.thumb-cards {

		& .card {
			padding: var(--xLarge) var(--Medium);
			margin: 48px auto 0 auto;
			text-align: center;

			& figure {
				position: absolute;
				top: 0;
				left: 50%;
				width: 96px;
				height: 96px;
				margin: 0;
				overflow: hidden;
				border-radius: 100px;
				transform: translateX(-50%) translateY(-50%);

				& img {
					display: block;
					object-fit: cover;
					width: 100%;
					height: 100%;
				}
			}

			& h2 {
				width: 100%;
				margin-top: 0;
			}

			& a.button {
				position: absolute;
				bottom: var(--Medium);
				left: 50%;
				width: calc(100% - 2em);
				margin: 0;
				transform: translateX(-50%);
			}
		}
	}

	&.cover-cards .card {
		min-height: 400px;
		padding: var(--xLarge) var(--Medium);

		& figure {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: 0;

			& img {
				display: block;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}

			&::before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 2;
				display: block;
				content: '';
				background: linear-gradient(0deg, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0) 100%);
			}
		}

		& h2 {
			position: absolute;
			bottom: var(--Medium);
			z-index: 5;
		}

		& a {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 10;
			margin: 0;
			overflow: hidden;
			text-indent: -999px;
			background-color: transparent;
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
section.card-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 32px;
	margin: var(--xLarge) auto;


	@media(--phone) {

		&.columns-2,
		&.columns-4 {
			grid-template-columns: repeat(2, 1fr);
		}

		&.columns-3 {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	@media(--tablet) {
		&.columns-4 {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}