/*-----------------------------------*\
	VARIABLES
\*-----------------------------------*/
/*-----------------------------------*\
	xSmall: 4px
	Small: 8px
	Medium: 16px
	Large: 32px
	xLarge: 64px
\*-----------------------------------*/
:root {
	--xSmall: .25rem;
	--Small: .5rem;
	--Medium: 1rem;
	--Large: 2rem;
	--xLarge: 4rem;
	--White: #ffffff;
	--GreyLight: #F7F5FB;
	--Grey: #e9eaec;
	--GreyDark: #6B6C7B;
	--Black: #2B2D42;
	--Blue: #4D9DE0;
	--BlueDark: #3d7db3;
	--Orange: #F26430;
	--OrangeDark: #c15026;
	--Green: #5DD9C1;
	--GreenDark: #4aad9a;
}