/*----------------------------------------------------------------*\
	FRONT PAGE TEMPLATE
\*----------------------------------------------------------------*/
.page-id-429 {
	& header.post-head {
		min-height: 200px;
	}

	& main>article {
		margin-top: 0;
	}

	& section.editor-2-column {
		&>div {
			&:first-child {
				order: 2;

				@media(--tablet) {
					order: 1;
				}
			}

			&:last-child {
				order: 1;

				@media(--tablet) {
					order: 2;
				}
			}
		}
	}

	& form {
		max-width: 100%;
		background-color: var(--White);
		padding: var(--Large);
		box-shadow: 0 15px 30px 0 rgba(36, 35, 98, .2);

		& #field_5_7 {
			&>label {
				font-size: 18px;

				&+.gfield_description {
					font-size: 14px;
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
	TELL US MORE
\*----------------------------------------------------------------*/
.page-id-444 {
	& header.post-head h1 {
		max-width: 600px;
	}

	& form {
		max-width: 100%;
		background-color: var(--White);
		padding: var(--Large);
		box-shadow: 0 15px 30px 0 rgba(36, 35, 98, .2);

		& #field_7_18 {
			margin-top: 0;
		}
	}
}