/*-----------------------------------*\
	COOKIE BAR
\*-----------------------------------*/
.cookie-useage-notification {
	background-color: var(--GreyDark);
	max-height: 0;
	overflow: hidden;
	position: fixed;
	right: var(--Small);
	bottom: var(--Small);
	max-width: calc(100% - 16px);
	width: 400px;
	z-index: 99999;

	&.note-on {
		max-height: 100vh;
	}

	&>div {
		margin: 0 auto;
		padding: var(--Small);
	}

	& p {
		color: var(--White);
		font-weight: 100;
		font-size: 14px;
		letter-spacing: .5px;
		margin: 0;
		padding-right: var(--Large);
	}

	& a {
		color: var(--White);
		text-decoration: underline;

		&:hover,
		&:focus {
			color: var(--White);
		}
	}

	& button {
		padding: 0;
		background-color: transparent;
		float: right;

		& svg {
			width: 24px;
			height: 24px;
			display: block;
			fill: var(--White);
		}
	}
}