/*-----------------------------------*\
	PRIMARY NAVIGATION
\*-----------------------------------*/
.primary-navigation {
	background-color: var(--GreyLight);

	& nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		width: 90vw;

		& ul {
			display: flex;
			justify-content: space-between;
			padding: 0;
			align-items: center;
			margin: 0;
			list-style: none;

			& li {
				padding: var(--Small) var(--Medium);
			}
		}
	}
}